@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
@import url('global.css');
@import url('reset.css');



body {
    margin: 0;
    font-family: 'Baloo Thambi 2', sans-serif;
    color: #000;
    padding-top: 100px;
    padding-bottom: 0px;
    max-width: 100%;
    background-color: #ffffff;
}

main{
    width: fit-content;
    align-items: center;
}
/* configurações do cabeçalho*/
.foxserv {
    color: #6C618B;
    font-size: 40px;
}

.foxserv:hover {
    color: #fff;
    transition: 0.5s;
}

.container {
    max-width: 100%;
    height: 100px;
    margin: 0 10px;
}

.logo {
    font-size: 30px;

}


.nav {
    position: fixed;
    background-color: #89D0AF;
    top: 0;
    left: 0;
    right: 0;
    height: 13%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
input[type="checkbox"] {
    display: none;
  }
  
  .bi {
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
    margin: 0 30px;
  }
  
  .bi-moon {
    display: none;
  }
  
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav h1 a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    font-size: 40px;
}

.logo {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
}

.nav.active .container {
    padding: 10px 0;
}
.img_logo{
    height: 80%;
    width: 95px;
    margin-right: 10px;
    margin-left: 30px;
  }
  .logo-header{
  flex-direction: row;
  display: flex;
  }
.logo.current,
.logo:hover {
    color: #6C618B;
}

.menu{
    display: flex;
    background-color: #6C618B;
    margin-right: 10px;
    background-color: #6C618B;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    color: #fff;
    height: 50px;
    width: fit-content;
    align-items: center;
    text-transform: uppercase;
    text-align-last: center;
    justify-content: space-between;
    padding: 0 8px;
}
.menu:hover{
    background-color: #4d4563;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content ul  {
    display: block;
    position: absolute;
    background-color: #807a91;
    width: 250px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #807a91;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 30px;
    margin-top: 50px;
  }

  .dropdown-content ul li{
    
    display: block;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
  }
  .dropdown-content ul ul{
    display: none;
    margin-left: -265px;
    margin-top: 150px;
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 10px;
  }
  .dropdown-content ul ul::-webkit-scrollbar {
    width: 5px;              
  }
  
  .dropdown-content ul ul::-webkit-scrollbar-track {
    background: none;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    
  }
  
  .dropdown-content ul ul::-webkit-scrollbar-thumb {
    background-color: #7c6f9e;    
    border-radius: 20px;     
    border: 3px;  
height: 20px;
  }
  .dropdown ul:hover .dropdown-content{
    display: block;
  }
  .dropdown-content ul li:hover>ul{
    display: block;
  }
  .dropdown li:hover {
    background-color: #6C618B;
    border-radius: 30px;
}

  
.dropdown-content .sair{
  background-color: #6C618B;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  color: #fff;
  height: 50px;
  width: 93%;
  align-items: center;
  text-transform: uppercase;
  text-align-last: center;
  justify-content: center;
  padding: 0 8px;
}
.dropdown-content .sair:hover{
  background-color: #49415e;
  color: #fff;
}
.foto_menu{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    max-width: 40px;
    max-height: 40px;
    margin-right: 5px;
}



.dark {
    background-color: #201B2C;
    color: #fff;
}

.dark .bi-sun {
    display: none;
  }
  
  .dark .bi-moon {
    display: block;
    color:#fff;
  }
.dark  .btn-flutuante{
  background-color: #00ff88;
}
  .dark .foxserv{
    color: #00ff88;
  }
  .dark .foxserv:hover{
    color: #fff;
  }
  .dark .nav{
    background-color: #181420;
  }
  .dark .nav a.current,
  .dark .nav a:hover {
      color: #00ff88;
  }
  .dark .menu{
  background-color: #00ff88;
  }
  .dark .dropdown-content{
    background-color: #181420;
  }
  .dark .dropdown-content a:hover{
    background-color: #120f18;
  }

 .dark .columnchart_values{
background-color: #201B2C;
  }
